.select-container {
    margin-top: 40px;
    margin-left: 40px;
}

select {
    width: 120px;
    height: 35px;
    border-radius: 5px;
}

.grid-container {
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
}

table {
    width:100%;
    border-collapse: separate;
    border-spacing: 0 15px;
}

th {
    padding: 15px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

td {
    text-align: center;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.notifiedText {
    text-align: center;
    color: red;
}